@font-face {
  font-family: 'CMU Serif';
  src: url('../fonts/CMU Serif Roman.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'CMU Serif';
  src: url('../fonts/CMU Serif Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'CMU Serif';
  src: url('../fonts/CMU Serif Roman Bold Nonextended.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'CMU Serif';
  src: url('../fonts/CMU Serif Bold Extended Italic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@theme {
  --breakpoint-xs: 480px;
  --breakpoint-sm: 600px;
  --breakpoint-md: 782px;
  --breakpoint-lg: 960px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1440px;

  --color-primary: var(--wp--preset--color--primary, #6e9d96);
  --color-secondary: var(--wp--preset--color--secondary);
  --color-dark: var(--wp--preset--color--dark);
  --color-light: var(--wp--preset--color--light);

  --text-xs: var(--wp--preset--font-size--xs, 0.75rem);
  --text-sm: var(--wp--preset--font-size--sm, 0.875rem);
  --text-base: var(--wp--preset--font-size--base, 1rem);
  --text-lg: var(--wp--preset--font-size--lg, 1.125rem);
  --text-xl: var(--wp--preset--font-size--xl, 1.25rem);
  --text-2xl: var(--wp--preset--font-size--2-xl, 1.5rem);
  --text-3xl: var(--wp--preset--font-size--3-xl, 1.875rem);
  --text-4xl: var(--wp--preset--font-size--4-xl, 2.25rem);
  --text-5xl: var(--wp--preset--font-size--5-xl, 3rem);
  --text-6xl: var(--wp--preset--font-size--6-xl, 3.75rem);
  --text-7xl: var(--wp--preset--font-size--7-xl, 4.5rem);
  --text-8xl: var(--wp--preset--font-size--8-xl, 6rem);
  --text-9xl: var(--wp--preset--font-size--9-xl, 8rem);

  --font-sans: "Manrope", sans-serif;
  --font-serif: 'CMU Serif', Georgia, serif;
}
